@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url("https://p.typekit.net/p.css?s=1&k=uym5yww&ht=tk&f=15780.15782.37496.37497&a=56184000&app=typekit&e=css");

:root {
  font-size: 16px;
  font-family: 'Gravity-Regular';
  --bg-primary: #fff;
}

body {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow: auto;
  overscroll-behavior: none;
}


body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #2d2e2d;
}

@media screen and (min-width: 1280px) {

  .imageGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 153.33%;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

.gallery-item .image {
  /* width: 100%; */
  height: 80vh;
  overflow: visible;
  justify-content: center;
}

.main-content {
  /* padding-top: 6vw;
  padding-bottom: 6vw; */
  padding: 6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.main-content1 {
   padding-top: 3vw;
  padding-bottom: 6vw;
  padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.leftSideofGrid  {
  width: 100%;
  height: 100%;
}

.rightSideofGrid {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

iframe[src*=youtube] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.contactTitle {
  font-size: 150px;
  font-family: "Montserat-Bold";
  color: #000;
  text-decoration: none;
}

.rightSideofContact {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.contactImage {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 100.33%;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

}

.projectName {
  padding-top: 10vw;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(0) translateY(-50%);
}


.cenMain {
  color: #000;
  padding-top: 20px;
  padding-right: 50px;
}

.form-group {
  margin-bottom: 1rem;
}

.footer {
  padding-top: 100px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%);
}

.footerInstagram {
color: #000;
text-decoration: underline;
}

.secondFooter {
  padding-top: 50px;
  float: right;
  padding-right: 10px;
  transform: translateY(-50%);
}

.secondFooterLeft {
  padding-top: 50px;
  float: left;
  padding-right: 10px;
  transform: translateY(-50%);
}

.text {
  font-size: 40px;
    font-family: "Montserat-Bold";
    color: #000;
    text-decoration: none;
}


.footerInstagram:hover {
  text-decoration: underline;
}

i  {
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 40px;
}


.text {
  font-size: 40px;
    font-family: "Montserat-Bold";
    color: #000;
    text-decoration: none;
    vertical-align: middle;

}

.text1 {
  font-size: 20px;
    font-family: "Montserat-Regular";
    color: #000;
    text-decoration: none;
    vertical-align: middle;

}






@media screen and (max-width: 1280px) {
  .imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 153.33%;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

  .main-content {
    padding: 6vw;
    /* padding-top: 6vw;
    padding-bottom: 6vw; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
  
  }
  
  .leftSideofGrid  {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .rightSideofGrid {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  iframe[src*=youtube] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  h3 {
    text-align: center;
  }

  .contactImage {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100.33%;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

}

@media screen and (max-width: 500px) {
  .imageGrid {
    /* padding: 100px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 10px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 153.33%;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

  .text {
    font-size: 28px;
  }

  i {
    font-size: 28px;
  }

  .main-content {
    padding: 2vw;
    /* padding-top: 6vw;
    padding-bottom: 6vw; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
  
  }
  
  .leftSideofGrid  {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .rightSideofGrid {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  iframe[src*=youtube] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .contact-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
  }

@media screen and (max-width: 300px) {
  .imageGrid {
    /* padding: 100px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 5px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 153.33%;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

  .text {
    font-size: 25px;
  }

  i{
    font-size: 30px;
  }

  .main-content {
    /* padding-top: 6vw;
    padding-bottom: 6vw; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
  
  }
  
  .leftSideofGrid  {
    width: 100%;
    height: 100%;
  }
  
  .rightSideofGrid {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  iframe[src*=youtube] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}