@font-face {
  font-family: "Montserat-Regular";
  src: url("Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserat-Thin";
  src: url("Montserrat-Thin.ttf");
}

@font-face {
  font-family: "Montserat-Bold";
  src: url("Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Muli-Regular";
  src: url("Muli-Regular.ttf");
}

@font-face {
  font-family: "Muli-Light";
  src: url("Muli-Light.ttf");
}

@font-face {
  font-family: "Muli-BoldItalic";
  src: url("Muli-BoldItalic.ttf");
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("Muli-SemiBold.ttf");
}

@font-face {
  font-family: "Muli-Bold";
  src: url("Muli-Bold.ttf");
}
